/* Structure */
body{
    background: url(images/space2.png);
    font-family:'Courier New', Courier, monospace
}

#content {
    background: rgba(80, 81, 129, 0.2);
    margin: 10px;
    padding: 0px 5px;
    border-radius: 16px;
}

.assign-groupings{
    text-align: center;
}

.assign-border {
    border: thin solid black;
    border-width: 3px;
    border-radius: 8px;
    padding: 3px;
}

.divider {
    padding-left: 30px;
}

.flex-container {
    padding-bottom: 8px;
}
/* Larger Resolutions */
@media (min-width: 900px) {
    .flex-container,
    #top-page,
    #bottom-page {
        display:flex;
    }

    .assign-groupings{
        flex:1;
    }

}


/* Navigation */

#main-nav li{
    list-style-type: None;
    display:inline;
}
#main-nav a{
    text-decoration: none;
    background: #70D925;
    color: black;
    padding: 4px;
    border-radius: 8px;
}

#main-nav a:hover{
    background: #438216;

}

/* Images */
img {
    border:2px solid black;
    border-radius: 5px;
    display:block;
    margin:auto;
    
}
/* Tables */
table{
    border-collapse: collapse;
}
th,
td{
    border: lpx solid black;
    padding: 4px;
}

th{
    background: white;
}

td{
    background: teal;
}

/* Typography */
#content h1, 
#main-footer{
    color: #ced9fa;
    font-size: 28px;
    text-align: center;
}

h4,
h3,
h2 {
    color: #85A0F2;
}

h4 {
    font-size: 18px;
    text-align: center;
}

#assign-header{
    color: #6C72D9;
    text-align: center;
}

.links {
    color: #85A0F2;
    text-decoration: none;
    
}

.bullets {
    color: white;
}

.words {
    color:#aabdf6;
}



