/* Burger Menu Set Up */
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    position: relative;
    margin-bottom: 40px;
    border-radius: 16px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    text-align: center;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: rgba(0, 0, 0, 0.4);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
  }
/* Structure */
body{
    background: url(images/space2.png);
    font-family:'Courier New', Courier, monospace
}

#content {
    background: rgba(80, 81, 129, 0.2);
    margin: 10px;
    padding: 0px 5px;
    border-radius: 16px;
}

#content #pictures {
    width:50%;
    position:absolute;
    left:50%;
}

#content #table {
    width:50%;
    margin:10px;
}

/* Navigation */

#main-nav a{
    text-decoration: none;
    background: #70D925;
    color: black;
    padding: 4px;
    border-radius: 8px;
}

#main-nav a:hover{
    background: #438216;

}

/* Images */
img {
    border:5px solid black;
    border-radius: 16px;
}

/* Tables */
table{
    border-collapse: collapse;
}
th,
td{
    border: 1px solid black;
    padding: 4px;
}

th{
    color:#85A0F2;
    background: #3c3e73;
}

td{
    color:#85A0F2;
    background: #151a3a;
}

/* Typography */
h1{
    color: #ced9fa;
    font-size: 28px;
    
}

h2{
    color: #6C72D9;
}

.links {
    color: #85A0F2;
    text-decoration: none;
}

.bullets {
    color: white;
}

.words {
    color:#aabdf6;
}
