<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Christian's CSCE242 Website</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <div id="content">
            <header id="main-header">
                <h1>Title</h1>
                <nav id="main-nav">
                    <ul>
                        <li><a href="../../../index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Pictures</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </header>
            <main id="main-content">
                <div class="flex-container">
                </div>
            </main>
            <footer id="main-footer">
                <p>&copy; SmitChristian.com</p>
            </footer>
        </div>
    </body>
</html>