/* Burger Menu Set Up */
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    margin-bottom: 40px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #004900;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

  /* Rest of Styles */
  /* Structure */
  body {
    background-image: url("images/gettyimages-1165117802-612x612.jpg");
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-items: center;
  }
  
  #content {
    width:90%;
    margin: auto;
  }



  h1, p, h2, section {
    background:white;
    text-align: center;


    
    padding:10px;
    border-radius: 10px;
  }

  @media (min-width: 1450px) {
    #content { margin:auto; width: 50%;}
  }


/*Typography */
.bullets {
  list-style-type: none;
}

strong {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 100px;
}

section {
  text-align: left;
}


 



